@import '../../globals.scss';


$height-button: 26px;

#login-button-container {
    position: relative;
    
    button {
        width: 120px;
        height: $height-button;
        
        margin-right: 20px;

        cursor: pointer;

        font-family: 'Ubuntu Mono', sans-serif;
        font-size: 14px;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    
        background-color: $primary_dark_color;
    
        border: $dark-border;
        border-radius: 4px;
    
        transition: all .2s;
    
        &:hover {
            background-color: lighten($primary_dark_color, 10);
        }
    }

    #login-form, #profile-displayer {
        position: absolute;
        top: $height-button + 10px;
        right: 10px;
        z-index: 10;

        @include flex-cont($direc: column);
        width: 180px;
        padding: 4px 0;

        background-color: $light-details;
        border: $light-border;
        border-radius: 6px;
    }

    #login-form {
        height: 80px;

        input {
            width: 70%;
            padding: 3px 5px;
            box-sizing: border-box;

            font-family: 'Ubuntu Mono';
            border: $dark-border;
            border-radius: 4px;

            &:focus {
                outline: none;
                border: 2px solid $primary-dark-color;
            }
        }
    } 
    
    #profile-displayer {
        height: 120px;

        p {
            width: 70%;
            padding: 3px 5px;
            box-sizing: border-box;

            font-family: 'Cantarell', sans-serif;
            font-size: 12px;

            background-color: $primary_dark_color;
            border: $dark-border;
            border-radius: 4px;
        }

        button {
            margin: 0 auto;
            width: 80px;

            cursor: pointer;

            font-size: 10px;
            background-color: white;

            &:hover {
                background-color: #ddd;
            }
        }
    }
}