@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
*::-webkit-scrollbar {
  width: 6px;
  background-color: #ddd;
  border-radius: 6px;
}
*::-webkit-scrollbar-thumb {
  background: #a8a2df;
  border-radius: 6px;
}

html {
  font-family: "Ubuntu Mono", monospace;
}

body {
  user-select: none;
  height: 100vh;
  overflow-y: hidden;
  background: #e3e6eb;
}

#root {
  height: 100%;
  margin: 0 auto;
}

.chart-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.param-panel {
  width: 100%;
  max-width: 260px;
  padding: 10px;
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 6px;
  box-sizing: border-box;
}

.param-panel h3 {
  margin-bottom: 12px;
  font-family: "Ubuntu Mono", sans-serif;
  font-size: 13px;
  color: rgb(114.756, 105.084, 203.416);
  text-align: center;
}

.param-panel .filter-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.param-panel .filter-container .filter-viewer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4px 8px;
  box-sizing: border-box;
  background-color: rgb(168, 162, 223);
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #666;
}

.param-panel .filter-container .filter-viewer label {
  font-family: "Cantarell", sans-serif;
  font-size: 11px;
  flex-shrink: 0;
}

.param-panel .filter-container .filter-viewer input,
.param-panel .filter-container .filter-viewer select {
  width: 8ch;
  padding: 3px;
  font-family: "Ubuntu Mono", sans-serif;
  font-size: 11px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px #666;
}

.param-panel .filter-container .filter-viewer input:focus,
.param-panel .filter-container .filter-viewer select:focus {
  outline: none;
  box-shadow: 0 0 1px 1px rgb(168, 162, 223);
}

.param-panel .filter-container .filter-viewer input.curve-editor-input {
  width: 10ch;
}

.chart-displayer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: #faf3e1;
  border: 1px solid #aaa;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.chart-displayer .log-check-label {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.6rem;
}

.chart-displayer .log-check-label input[type=checkbox] {
  width: 11px;
  margin-right: 2px;
}
