@import '../../globals.scss';


.chart-panel {
    @include flex-cont;
    width: 100%;

    .param-panel {
        // margin: 0 16px;
        width: 120px;
        padding: 8px;

        background-color: white;

        border: $light-border;
        border-radius: 6px;

        h3 {
            margin-bottom: 12px;
            font-family: 'Ubuntu Mono', sans-serif;
            font-size: 12px;
            color: darken($primary-dark-color, 15);

            text-align: center;
        }

        .filter-container {
            @include flex-cont($direc: column);
            
            .filter-viewer {
                @include flex-cont($justif: space-between);
                width: 80%;
                margin-bottom: 5px;
                padding: 2px 4px;
                box-sizing: border-box;

                background-color: $primary-dark-color;
                border: $light-border;
                border-radius: 4px;

                box-shadow: 1px 1px 1px #666;
                
                label {
                    font-family: 'Cantarell', sans-serif;
                    font-size: 10px;
                }

                input, select {
                    width: 6ch;
                    padding: 2px;

                    font-family: 'Ubuntu Mono', sans-serif;
                    font-size: 10px;

                    border: none;
                    border-radius: 3px;

                    box-shadow: 0 0 1px 1px #666;

                    &:focus {
                        outline: none;
                        box-shadow: 0 0 1px 1px $primary-dark-color;
                    }
                }

                input.curve-editor-input {
                    width: 9ch;
                }
            }
        }
    }

    .chart-displayer {
        position: relative;
        @include flex-cont;
        padding: 6px 12px 10px 12px;
    
        background-color: $paper_color;
        border: $light-border;
        border-radius: 6px;

        .log-check-label {
            position: absolute;
            bottom: 5px;
            right: 5px;

            @include flex-cont;

            font-size: .6rem;

            input[type=checkbox] {
                width: 11px;
                margin-right: 2px;
            }
        }
    }
}